@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
:root {
  --darkgray: #212329;
  --brightred: #f9423d;
  --white: #fff;
  --lightred: #f9433dcc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

button {
  font: 3rem;
  padding: 1rem;
  border: 0.2rem, (var(--darkgray)) solid;
  border-radius: 0.5rem;
}

button:hover {
  border: 0.2rem black solid;
}

button.primary {
  background-color: var(--brightred);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  min-height: 100vh;
}

/*Header Section */

.nav-container {
  width: 100%;
  background-color: var(--darkgray);
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  justify-self: start;
  margin-left: 20px;
}

#navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
}

.nav-links:hover {
  color: var(--brightred);
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: var(--brightred);
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover {
  background-color: transparent;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px var(--brightred);
  transition: all 0.3s ease-out;
}

.menu-toogle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 10rem;
    overflow-y: hidden;
  }
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--brightred);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    height: 100vh;
  }

  #navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: var(--darkgray);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  .nav-links-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--darkgray);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .nav-links-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background-color: var(--brightred);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .menu-toogle .bar {
    display: block;
    cursor: pointer;
    transform: translate(5%, 25%);
  }

  .menu-toogle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*End Of Header Section */

/*Footer Section */
footer {
  grid-area: footer;
  background-color: var(--darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
/*End Of Footer Section */

/*Filtering Section*/

.button_grp {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto 0;
}

.button_grp ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}

.button_grp ul li {
  background-color: var(--white);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.125);
}

.button_grp ul li.active,
.button_grp ul li:hover {
  background: var(--brightred);
  color: black;
}
/*End Of Filtering Section*/

/*Products Section*/

#main-container {
  background-color: var(--darkgray);
}

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 2rem;
  margin-bottom: 0;
  height: 50rem;
  background-color: var(--white);
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-shadow: 1px 5px 15px #ccc;
  border-radius: 10px;
}

.product img {
  max-height: 26rem;
  width: 100%;
}

hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: #cf092c;
  margin: 22px 0 20px;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
}

.product-price {
  font-size: 2rem;
}

.product-price span {
  font-size: 1.2rem;
}

.rating {
  color: var(--lightred);
}

.rating :nth-child(6) {
  color: black;
}

/*End Of Products Section*/

/*Product Details Page*/
.product-content {
  padding: 1rem;
  margin-left: 3%;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.product-details-image {
  padding: 1rem;
  flex: 2 1 60rem;
}

.product-details-image img {
  max-width: 90rem;
  width: 100%;
}

.product-details-info {
  color: var(--white);
}

.product-details-info,
.product-details-addToCartAction {
  flex: 1 1 30rem;
}

.product-details-info ul,
.product-details-addToCartAction ul {
  padding: 0;
  list-style-type: none;
}

.product-details-info h1 {
  font-size: 5rem;
  margin: 0;
}

.product-details-info li,
.product-details-addToCartAction li {
  margin-bottom: 3rem;
}

.product-details-addToCartAction {
  border: 0.1rem var(--brightred) solid;
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1rem;
  color: black;
  font-weight: bold;
}

#addToCart {
  width: 100%;
}

.success {
  color: green;
}

.no-success {
  color: #cf092c;
}

.description {
  text-align: justify;
}

/*End of Product Details Page */
